.navbar {
    background: linear-gradient(90deg, #0f172a, #1e3a8a);
    padding: 15px 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-link {
    color: #ffffff !important;
    font-size: 1rem;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #60a5fa !important;
}
.cart-btn {
    background: #0e275f;
    color: white;
    border-radius: 25px;
    padding: 6px 18px;
    font-weight: 600;
    border: none;
    transition: 0.3s;
}

.cart-btn:hover {
    background: #868c9d;
    transform: translateY(-2px);
}